
<!--

<div class="d-flex tag-add-full tag-list ">
  <%# tags.each do |t| %>
    <div class="tag-bis small-tag red-tag">
      <p class="margin-tag" data-tag-id = "<%#= t.id %>" ><%#= t.label %></p>
    </div>
  <%# end %>

</div> -->
