<%= simple_form_for [ contact, note ],
  wrapper: :inline_form, wrapper_mappings: { check_boxes:   :horizontal_collection } do |f| %>

  <div class="notes empty d-flex justify-content-between flex-column">

    <div class="notes-add">
      <%= f.input_field :content, as: :text, placeholder: 'Taper ici' %>
    </div>

    <div class="">
      <div>
        <%= f.association :tags, collection: tags, label_method: :label, value_method: :id,
        include_blank: false, as: :check_boxes , wrapper: :horizontal_collection_inline  %>
      </div>
    </div>

  </div>

  <div class="validate-button">
    <%= f.button :submit, 'OK', class: 'mt-3 absolute-create-contact' %>
  </div>


<% end %>


<!-- html: { class: "form-inline" }  -->
