
  <p class="notes-text"><%= note.content %></p>

  <div class="d-flex tag-add-full tag-list ">
    <% tags.each do |t| %>
    <div class="tag-bis small-tag red-tag">
      <p class="margin-tag"><%= t.label %></p>
    </div>
  <% end %>

  </div>
