<h2><%= @contact.first_name %> <%= @contact.last_name %></h2>

<div class="container">
  <div class="row ">
    <%= render 'contactnote', contact: @contact, note: @note, tags: @tags %>
  </div>
</div>

<%= link_to 'Retour', contact_path(@contact) %>

