// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #F4B8AC;
$darkblue: #225085;
$orange:  #F5B87C;
$green: #70B59E;
$inkblue: #021A2D;
$lightgray: #F9F9F9;
$blue: #8BBBF1;
