<!-- PARTIE BLEUE -->
<div class="d-flex justify-content-center navbar-dashboard"">
   <div>
     <%= link_to dashboard_path do %>
            <%= image_tag('house-empty.svg', class: 'btn-home') %>
          <% end %>
   </div>

    <p class="dashboard-title">Easycontact</p>

    <%= link_to dashboard_path do %>
           <%= image_tag('user.svg', class: 'btn-user') %>
         <% end %>
</div>
