<div class="m-2">
  <h1>Liste des composants pour EasyContacts</h1>
  <br>

  <!-- BARRE D'ESPACEMENT -->

  <h2>Composants divers</h2>

  <div class="rectangle-gris"></div>

  <!-- BUTTON COMPONENTS -->

  <h2>Button</h2>

  <p>Large button ---- Medium button ---- small button</p>
  <div class="d-flex">
    <div class="lg-btn" style="margin-right:120px;"></div>
    <div class="md-btn mt-2" style="margin-right:110px;"></div>
    <div class="sm-btn mt-3"></div>
  </div>

  <div class="d-flex mt-2">
    <div class="lg-btn d-flex align-items-center justify-content-center" style="margin-right:120px;">
      <i class="fas fa-user-alt ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="md-btn d-flex align-items-center justify-content-center" style="margin-right:110px;">
      <i class="fas fa-user-alt ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="sm-btn d-flex align-items-center justify-content-center">
      <i class="fas fa-plus"></i>
    </div>

  </div>

  <div class="d-flex mt-2">
    <div class="lg-btn d-flex align-items-center justify-content-center" style="margin-right:120px;">
      <i class="fas fa-bell ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="md-btn d-flex align-items-center justify-content-center">
      <i class="fas fa-home"></i>
    </div>
  </div>

  <!-- SEARCH BAR COMPONENTS -->


  <h2 class="mt-4">Search Bar</h2>

  <p>Search bar vide</p>
  <div class="search-bar d-flex justify-content-between">
    <div></div>
    <p class="placeholder-search mt-2 ml-4">je cherche...</p>
    <i class="fas fa-search mr-2 mt-2"></i>
  </div>

  <p class="mt-4">Search bar home</p>
  <div class="search-bar d-flex justify-content-between">
    <p class="ml-3 mt-2 tag">TAG</p>
    <p class="placeholder-search mt-2">je cherche...</p>
    <i class="fas fa-search mr-2 mt-2"></i>
  </div>


  <!-- TIMELINE DASHBOARD -->

  <h2 class="mt-4">Timeline</h2>

  <p>Timeline Dashboard</p>
  <div class="timeline d-flex mx-3">

    <div class="bell-elems d-flex flex-column justify-content-between align-items-center">
      <div class="bell-elem mt-2">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
      <div class="bell-elem">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
      <div class="bell-elem">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
    </div>

    <div class="infos d-flex flex-column justify-content-between align-items center pl-2 ml-2">
      <div class="info mt-1 pl-3">
        <p class="name-rappel-dash">Caroline Douet</p>
        <p class="title-rappel-dash">Startup weekend</p>
        <p class="bullet bullet-one"></p>
      </div>
      <div class="info pl-3">
        <p class="name-rappel-dash">Faten Salmi</p>
        <p class="title-rappel-dash">Anniversaire fille</p>
        <p class="bullet bullet-second"></p>
      </div>
      <div class="info pl-3">
        <p class="name-rappel-dash">Neven Drean</p>
        <p class="title-rappel-dash">Lancement projet Compoz</p>
        <p class="bullet bullet-third"></p>
      </div>
    </div>

  </div>

</div>
