<div class="m-2">
  <h1>Liste des composants pour EasyContacts</h1>
  <br>

  <!-- BARRE D'ESPACEMENT -->

  <h2>Composants divers</h2>

  <div class="rectangle-gris"></div>

  <!-- BUTTON COMPONENTS -->

  <h2>Button</h2>

  <p>Large button ---- Medium button ---- small button</p>
  <div class="d-flex">
    <div class="lg-btn" style="margin-right:120px;"></div>
    <div class="md-btn mt-2" style="margin-right:110px;"></div>
    <div class="sm-btn mt-3"></div>
  </div>

  <div class="d-flex mt-2">
    <div class="lg-btn d-flex align-items-center justify-content-center" style="margin-right:120px;">
      <i class="fas fa-user-alt ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="md-btn d-flex align-items-center justify-content-center" style="margin-right:110px;">
      <i class="fas fa-user-alt ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="sm-btn d-flex align-items-center justify-content-center">
      <i class="fas fa-plus"></i>
    </div>

  </div>

  <div class="d-flex mt-2">
    <div class="lg-btn d-flex align-items-center justify-content-center" style="margin-right:120px;">
      <i class="fas fa-bell ml-1"></i>
      <i class="fas fa-plus mb-3"></i>
    </div>

    <div class="md-btn d-flex align-items-center justify-content-center">
      <i class="fas fa-home"></i>
    </div>
  </div>

  <!-- SEARCH BAR COMPONENTS -->


  <h2 class="mt-4">Search Bar</h2>

  <p>Search bar vide</p>
  <div class="search-bar d-flex justify-content-between">
    <div></div>
    <p class="placeholder-search ml-4 margintop-15">je cherche...</p>
    <i class="fas fa-search mr-2 margintop-15"></i>
  </div>

  <p class="mt-4">Search bar home</p>
  <div class="search-bar d-flex justify-content-between">
    <p class="ml-3 tag-search margintop-15">TAG</p>
    <p class="placeholder-search margintop-15">je cherche...</p>
    <i class="fas fa-search mr-2 margintop-15"></i>
  </div>


  <!-- TIMELINE DASHBOARD -->

  <h2 class="mt-4">Timeline</h2>

  <p>Timeline Dashboard</p>
  <div class="timeline d-flex mx-3">

    <div class="bell-elems d-flex flex-column justify-content-between align-items-center">
      <div class="bell-elem mt-2">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
      <div class="bell-elem">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
      <div class="bell-elem">
        <i class="fas fa-bell ml-1"></i>
        <p class="timeline-date">Date</p>
      </div>
    </div>

    <div class="infos d-flex flex-column justify-content-between align-items center pl-2 ml-2">
      <div class="info mt-1 pl-3">
        <p class="name-rappel-dash">Caroline Douet</p>
        <p class="title-rappel-dash">Startup weekend</p>
        <p class="bullet bullet-one"></p>
      </div>
      <div class="info pl-3">
        <p class="name-rappel-dash">Faten Salmi</p>
        <p class="title-rappel-dash">Anniversaire fille</p>
        <p class="bullet bullet-second"></p>
      </div>
      <div class="info pl-3">
        <p class="name-rappel-dash">Neven Drean</p>
        <p class="title-rappel-dash">Lancement projet Compoz</p>
        <p class="bullet bullet-third"></p>
      </div>
    </div>

  </div>


  <!-- Sign Up -->

  <h2 class="mt-3">Sign Up</h2>

  <p>Champs à remplir</p>

  <div class="signup-champ d-flex align-items-center mb-2">
    <i class="fas fa-user-alt ml-3"></i>
    <p class="mt-3 placeholder-search">votre prénom</p>
  </div>

   <div class="signup-champ d-flex align-items-center mb-2">
    <i class="fas fa-envelope ml-3"></i>
    <p class="mt-3 placeholder-search">votre email</p>
  </div>

   <div class="signup-champ d-flex align-items-center mb-2">
    <i class="fas fa-lock ml-3"></i>
    <p class="mt-3 placeholder-search">votre mot de passe</p>
  </div>

  <div class="signup-champ d-flex align-items-center mb-2">
    <i class="fas fa-user-alt ml-3"></i>
    <p class="mt-3 placeholder-search">votre nom</p>
  </div>

  <p class="mt-3">Commencer</p>

  <div class="signup-start d-flex align-items-center mb-2">
    <p class="mt-3 placeholder-search">Commencer</p>
  </div>


  <!-- INDEX CONTACTS -->

  <h2 class="mt-3">Index Contacts Dash</h2>

  <p>Card list contact</p>

  <div class="contact-dash d-flex justify-content-between align-items-center">
    <div class="frame-picture"></div>

    <div class="d-flex flex-column contact-dash-infos">
      <p class="name-contact-dash mt-3">Caroline DOUET</p>
      <p class="company-contact-dash">Adidas</p>
    </div>

    <div class="d-flex mr-3">
      <div class="d-flex contact-dash-icon mr-3">
        <i class="fas fa-bell ml-3"></i>
        <i class="fas fa-plus"></i>
      </div>

      <div class="d-flex contact-dash-icon ml-2">
        <i class="fas fa-sticky-note"></i>
        <i class="fas fa-plus" style="margin-left:3px;"></i>
      </div>

    </div>
  </div>


  <!-- TAGS -->

  <h2 class="mt-3">Tags</h2>

  <p>Liste de tags</p>

  <div class="d-flex">
    <div class="tag small-tag red-tag">
      <p class="margin-tag">Ruby</p>
    </div>

    <div class="tag large-tag orange-tag">
      <p class="margin-tag" >Javascript</p>
    </div>

    <div class="tag large-tag yellow-tag">
      <p class="margin-tag" >Javascript</p>
    </div>

    <div class="tag large-tag green-tag">
      <p class="margin-tag" >Javascript</p>
    </div>

  </div>

  <div class="d-flex mt-2">
    <div class="tag small-tag red-tag">
      <p class="margin-tag" >React</p>
    </div>

    <div class="tag large-tag orange-tag">
      <p class="margin-tag" >Freelance</p>
    </div>

    <div class="tag medium-tag yellow-tag">
      <p class="margin-tag" >Patron</p>
    </div>

    <div class="tag large-tag green-tag">
      <p class="margin-tag" >Dev 3 ans xp</p>
    </div>

  </div>

  <!-- TAGS AVEC CROIX -->


  <p class="mt-3">Liste de tags avec croix</p>

  <div class="d-flex">

    <div class="tag red-tag d-flex justify-content-between">
      <p>Ruby</p>
      <i class="fas fa-plus"></i>
    </div>

    <div class="tag orange-tag d-flex justify-content-between">
      <p>Javascript</p>
      <i class="fas fa-plus"></i>
    </div>

    <div class="tag yellow-tag d-flex justify-content-between">
      <p>Javascript</p>
      <i class="fas fa-plus"></i>
    </div>

    <div class="tag green-tag d-flex justify-content-between">
      <p>Javascript</p>
      <i class="fas fa-plus"></i>
    </div>

  </div>

  <div class="d-flex mt-2">
    <div class="tag red-tag d-flex justify-content-between">
      <p>React</p>
      <i class="fas fa-plus"></i>

    </div>

    <div class="tag orange-tag d-flex justify-content-between">
      <p>Freelance</p>
      <i class="fas fa-plus"></i>
    </div>

    <div class="tag yellow-tag d-flex justify-content-between">
      <p>Patron</p>
      <i class="fas fa-plus"></i>
    </div>

    <div class="tag green-tag d-flex justify-content-between">
      <p>Dev 3 ans xp</p>
      <i class="fas fa-plus"></i>
    </div>

  </div>

  <!-- NOTES -->

  <h2 class="mt-3">Notes</h2>

  <p>Bloc notes vierge</p>

  <div class="notes empty d-flex justify-content-between flex-column">

    <div class="notes-add">
      <p class="placeholder-search">Ecrire ici...</p>
    </div>

    <div class="tag-add">
      <p class="placeholder-search">Tags</p>
    </div>
  </div>

  <p class="mt-2">Note exemple</p>


  <div class="notes d-flex justify-content-between flex-column">

    <div class="notes-add">
      <p class="notes-text">Demo Day 13 décembre Cantine île de nantes 17h</p>
    </div>

    <div class="tag-add-full tag-list d-flex">

      <div class="tag medium-tag yellow-tag">
        <p class="margin-tag" >Patron</p>
      </div>

      <div class="tag large-tag green-tag">
        <p class="margin-tag" >Dev 3 ans xp</p>
      </div>

      <div class="tag small-tag red-tag">
        <p class="margin-tag" >React</p>
      </div>
    </div>
  </div>

  <div class="notes d-flex justify-content-between flex-column">

    <div class="notes-add">
      <p class="notes-text">Recherche freelance urgent dans 2 semaines pour projet développement web react angular avec son ami Francis CEO startup</p>
    </div>

    <div class="tag-add-full tag-list d-flex">

      <div class="tag medium-tag yellow-tag">
        <p class="margin-tag" >React</p>
      </div>

      <div class="tag large-tag green-tag">
        <p class="margin-tag" >Angular</p>
      </div>

      <div class="tag small-tag red-tag">
        <p class="margin-tag" >Projet</p>
      </div>
    </div>
  </div>


  <!-- CHAMP D'INFOS GENERALES -->

  <h2 class="mt-3">Champs d'infos add-contact</h2>

  <p>Liste de champs</p>

  <div class="liste-champs-add">
    <div class="frame-picture">

    </div>

    <div class="champs-texte-add">
      <div class="champ-texte-add">
        <p>Prénom</p>
        <p>Nom</p>
      </div>
      <div class="champ-texte-add">
        <p>Email</p>
        <p>Téléphone</p>
      </div>
      <div class="champ-texte-add">
        <p></p>
      </div>
    </div>
  </div>


</div>
