<div class="banner d-flex flex-column">

  <div class="container">
    <h1>Gardez la <strong>mémoire</strong> de vos <strong>rencontres</strong></h1>
    <!-- <p>XXXXXXXXXXX</p> -->
    <a class="btn btn-ghost home" href="#">Me connecter</a>
    <a class="btn btn-flat home" href="#">Créer un compte</a>
  </div>

  <div class="cards-home d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">TAGS</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Personnalise le tri de vos contacts !</h6>
        <p class="card-text text-justify">Créez vos tags et classez vos contacts selon votre propre logique.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">+</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Facilite la gestion de vos relations !</h6>
        <p class="card-text text-justify">Notez les informations qui comptent en quelques clics.</p>
      </div>
    </div>

  </div>

</div>

