<div class="d-flex justify-content-start pt-5 ml-3">
  <p class="home-bienvenue">Bienvenue !</p>
</div>


<div class="home-container-image">
  <div class="image-home">
    <%= image_tag('undraw_image.svg', class: '') %>
  </div>
</div>


<div class="footer-home d-flex flex-column">
  <div class="d-flex flex-column footer-home-text">
    <span class="footer-home-title">Prenez soin de votre</p>
    <span class="footer-home-title">réseau.</span>
  </div>
    <p class="footer-home-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    <div class="btns-home-login">
      <div class="btn-home-login"><%= link_to "Me connecter", new_user_session_path, class:'d-flex justify-content-center pt-2 btn-home-login-text' %></div>
      <div class="btn-home-login mt-3"><%= link_to "Créer un compte", new_user_registration_path, class:'d-flex justify-content-center pt-2 btn-home-login-text' %></div>

    </div>
</div>
