
  <% if notes.empty? %>
    <p>Pas de notes</p>
  <% else %>

  <div class="d-flex justify-content-between flex-column">
    <% notes.each do |une_note|%>

      <div class="notes d-flex">

        <div class="notes-add" data-note-id="<%= une_note.id %>" >
            <%= render 'notes/contenttag', note: une_note, tags: une_note.tags %>
        </div>

        <div class="mt-2">

          <div class="">
            <%= link_to 'Editer', edit_note_path(une_note)%>
          </div>

          <div class="">
            <%= link_to 'Supprimer', note_path(une_note), method: :delete %>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>

  </div>

