<div class="d-flex justify-content-between header-new-rappel mb-3">
    <p class="blue-text">Annuler</p>
    <p class="blue-light-text">Nouveau contact</p>
    <p class="blue-text"></p>
</div>

<!-- Formulaire infos de base -->

<div class="liste-champs-add d-flex flex-column justify-content-center">
  <%= simple_form_for(@contact) do |f| %>

  <div class="d-flex justify-content-center">
    <div class="frame-picture">
      <input class="form-control-file file optional" type="file" name="contact[avatar]" id="contact_avatar">
      <%= f.input :avatar_cache, as: :hidden %>
      <div class="text-center">
        <p class="placeholder-search">Photo</p>
      </div>
    </div>
  </div>

    <div class="champs-texte-add d-flex m-4">

      <div class="champ-texte-add m-3">
        <p class="placeholder-search"><input class="required" placeholder="Prénom" type="text" name="contact[first_name]" id="contact_first_name"></p>
        <p class="placeholder-search"><input class="required" placeholder="Nom" type="text" name="contact[last_name]" id="contact_last_name"></p>
        <p class="placeholder-search"><input class="email optional" placeholder="Email" type="email" name="contact[email]" id="contact_email"></p>
        <p class="placeholder-search"><input class="tel optional" placeholder="Telephone" type="tel" name="contact[phone_number]" id="contact_phone_number"></p>
      </div>

      <div class="champ-texte-add m-3">
        <p class="placeholder-search"><input class="optional" placeholder="Entreprise" type="text" name="contact[company]" id="contact_company"></p>
        <p class="placeholder-search"><input class="optional" placeholder="Poste actuel" type="text" name="contact[job]" id="contact_job"></p>
        <p class="placeholder-search"><input class="optional" placeholder="Ville" type="text" name="contact[location]" id="contact_location"></p>
        <p class="placeholder-search"><input class="optional" placeholder="Lieu de rencontre" type="text" name="contact[location]" id="contact_location"></p>
      </div>

    </div>
    <div class="validate-button">
        <%= f.button :submit, 'OK', class: 'mt-5 absolute-create-contact' %>
    </div>

  <% end %>
</div>

<%= link_to "Retour", contacts_path, class: 'btn btn-primary mt-5' %>



