<h1>Contacts#show</h1>
<p>Find me in app/views/contacts/show.html.erb</p>

<p><%= @contact.first_name %></p>
<p><%= @contact.last_name %></p>

<div class="list-group">
  <% if @notes.empty? %>
    <p>No notes yet</p>
  <% else %>
    <div class="list-group-item">
      <% @notes.each do |note| %>
        <%= note.content %>
      <% end %>
    </div>
  <% end %>
</div>
