<p><%= @contact.first_name %></p>
<p><%= @contact.last_name %></p>

<div class="list-group">
  <% if @notes.empty? %>
    <p>No notes yet</p>
  <% else %>
    <div class="list-group-item">
      <% @notes.each do |note| %>
        <%= note.content %>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to 'Nouvelle note', new_contact_note_path(@contact) %>
