<div class="d-flex justify-content-between header-new-rappel">
  <p class="blue-text">Annuler</p>
  <p class="blue-light-text">Nouveau rappel</p>
  <p class="blue-text">OK</p>
</div>

<div class="text-center mt-2 mb-4">
  <p class="name"><%= @contact.first_name %> <%= @contact.last_name.upcase %></p>
</div>

<div class="">
  <p class="name-rappel">Rappels</p>
</div>
