

.lg-btn {
  background-color: #0582FF;
  width:48px;
  height:48px;
  border-radius:50%;
}

.md-btn {
  background-color: #0582FF;
  width:36px;
  height:36px;
  border-radius:50%;
}

.sm-btn {
  background-color: #0582FF;
  width:24px;
  height:24px;
  border-radius:50%;
}
