// Button ALL


.lg-btn {
  background-color: #0582FF;
  width:48px;
  height:48px;
  border-radius:50%;
}

.md-btn {
  background-color: #0582FF;
  width:36px;
  height:36px;
  border-radius:50%;
}

.sm-btn {
  background-color: #0582FF;
  width:24px;
  height:24px;
  border-radius:50%;
}

// Button TRASH

.trash .md-btn {
  background-color : #E72B2B;
}

// CREATE CONTACT

.absolute-create-contact {
  position:relative;
  top:-387px;
  left:366px;
  color:#024A91;
  font-weight:bold;
  font-size:15px;
}

// EDIT CONTACT

.validate-button {
  height:1px;
  position:relative;
}

.absolute {
  position:absolute;
  top:-390px;
  right:20px;
}

button.md-btn.absolute {
  background-color: #65CD5F;
  border:none;
}



.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  margin-top: 60px;
  border-radius: 50px;
  font-weight: 500;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat-signup a {
  color: white;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  background: #0582FF;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-signup a:hover {
  background: #D73D2B;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-login a {
  color: gray;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-login a:hover {
  background: white;
  color: #0582FF;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  transition: background 0.3s ease;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}


// Bouton classique fond bleu

// .btn-flat {
//   color: white;
//   padding: 8px 24px;
//   margin-top: 60px;
//   border-radius: 4px;
//   background: #0582FF;
//   transition: background 0.3s ease;
//   font-weight: 500;
// }

// .btn-flat:hover {
//   background: #0582FF;
//   color: white;
// }




// Fiche CONTACT

.fiche-contact-button {
  width:90px;
  height:25px;
  background-color: #024A91;
  border-radius:5px;
}

.contact-button-notes {
  color:white;
  font-weight: bold;
  font-size:14px;
  margin-left:25px;
  padding-top:4px;
}


.contact-button-rappels {
  color:white;
  font-weight: bold;
  font-size:14px;
  margin-left:20px;
  padding-top:4px;
}

