// NEW DESIGN

.button-plus-footer {
  position: absolute;
  top:-20px;

  // position:sticky;
  // z-index:4;
  // bottom:20px;
  // margin-left: 42vw;
  // z-index:4

}

.button-plus-footer .lg-btn {
  background-color: #F4B8AC;
  width:40px;
  height:40px;
  border-radius:50%;
}

.md-btn-notes {
  height:38px;
  width:38px;
  border-radius:50%;
  background-color: #FF4D4D;
}

.md-btn-notes-delete {
  height:38px;
  width:38px;
  border-radius:50%;
}

.md-btn-notes-edit {
  height:38px;
  width:38px;
  border-radius:50%;
  background-color: #628AAE;
  margin-bottom:5px;
}

.md-btn-contact-validate {
  height:45px;
  width:45px;
  border-radius:50%;
  background-color: $pink;
  border:none;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.12);
}

.buttons-add-cancel {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top: 3px;
}
.absolute-edit-contact {
  position:absolute;
  bottom:10px;
  right:100px;
}

.absolute-create-contact {
  position:absolute;
  bottom:30px;
  left:-20px;
}

.absolute-delete-contact {
  position:absolute;
  bottom:10px;
  left:100px;
}

.btn-add-tag {
  width:30px;
  height:30px;
  background-color: $darkblue;
  border-radius:5px;
}


.btn-home {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-user {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 13px;
  right: 15px;
}


// Button FOOTER HOME


.btns-home-login {
  width:80%;
  margin:30px auto;
}

.btn-home-login {
  width:100%;
  height:43%;
  background-color:white;
  border-radius:15px;
}

.btn-home-login-bis {
  width:100%;
  height:20%;
  background-color:white;
  border-radius:15px;
}

.btn-home-login-start {
  width:100%;
  height:20%;
  background-color:#0582FF;
  border-radius:15px;
}

.btn-home-login-text {
  font-size:20px;
  color:rgba(0,0,0,0.8)
}

input.btn-home-login-text {
  color:white;
}




// Button ALL


.lg-btn {
  background-color: #0582FF;
  width:48px;
  height:48px;
  border-radius:50%;
}

.md-btn {
  background-color: #0582FF;
  width:36px;
  height:36px;
  border-radius:50%;
}

.sm-btn {
  background-color: #0582FF;
  width:24px;
  height:24px;
  border-radius:50%;
}

// Button TRASH

.trash .md-btn {
  background-color : #E72B2B;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  margin-top: 60px;
  border-radius: 50px;
  font-weight: 500;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat-signup a {
  color: white;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  background: #0582FF;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-signup a:hover {
  background: #D73D2B;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-login a {
  color: gray;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
  font-weight: 700;
  font-size: 18px;
}

.btn-flat-login a:hover {
  background: white;
  color: #0582FF;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  transition: background 0.3s ease;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}
