.btn-home {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.flatpickr-calendar.inline {
  margin: 0 auto;
}

.form-control.hidden.datepicker.form-control.input {
    width:300px;
    margin-top: 20px;
    height:50px;
    background-color:#FFFFFF;
    border:none;
}

.contact-name a {
  color: #8BBBF1;
}

.contact-delete a {
  color: #8BBBF1;
}


a {
  text-decoration: none;
  color: transparent;
  &:hover{
  color: transparent;
  text-decoration: none;
  }
}

input:focus, textarea:focus, select:focus {
    outline: none;
}
