// NEW DESIGN

.frame-picture {
  width:70px;
  height:70px;
  border-radius:50%;
}

.card-category {
  width:150px;
  height:90px;
  border-radius:5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.card {
  border:none;
  border-radius:0px;
  background-color:rgba(0,0,0,0);
}

.scrolling-wrapper-flexbox {

  -webkit-overflow-scrolling: touch;
  padding-bottom:15px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}



.category-notes.active {
  background-color:#70B59E;
}

.category-rappels.active {
  background-color:#F5B87C;
}

.category-infos.active {
  background-color:#7DD0FF;
}

.card-category.inactive {
  background-color:white;
}

.active .info-stats-text {
  color: white;
  font-weight:400px;
  font-size:12px;
}

.active .info-category-text {
  color: white;
  font-weight:bold;
  font-size:18px;
}

.inactive .info-stats-text {
  color: rgba(0,0,0,0.4);
  font-weight:400px;
  font-size:12px;
}

.inactive .info-category-text {
  color: rgba(0,0,0,0.4);
  font-weight:bold;
  font-size:18px;
}

.card-image-writing {
  width:30px;
  height:30px;
  margin-top:20px;
  margin-left:20px;
}

.card-image-info {
  width:35px;
  height:35px;
  margin-top:20px;
  margin-left:20px;
}

.card-image-edit {
  width:20px;
  height:20px;
  margin-top:9px;
  margin-left:9px;
}

.card-image-delete {
  margin-top:0px;
  margin-left:0px;
}

.card-image-footer {
  width:30px;
  height:30px;
  // margin-top:15px;
  // position:absolute;

}
// CARD DASH CONTACT

.contact-dash {
  height:70px;
  border-bottom: 1px solid #EFECEC;
}


.contact-dash-infos .name-contact-dash {
  color: #024A91;
  font-size:16px;
  margin-bottom:0px;
}

.contact-dash-infos .company-contact-dash {
  color: #C2B1B1;
  font-size:10px;
  margin-top:0px;
}


.results-info.index {
  width: 50vw;
}

.list-group.index {
  overflow-y: scroll;
}
