// NEW DESIGN

.champs {
}

.champ {
  height:40px;
  // width:170px;
  margin-bottom:20px;
  background: #FFFFFF;
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.05);
  border-radius: 0px 15px;
}

.champ-title {
  font-weight: bold;
  font-size: 12px;
  color: #7DD0FF;
}

.info-description {
  font-size:14px;
  font-weight:300px;
  padding-top:6px;
  padding-left:5px;
  width:100%;
  color:rgba(0,0,0,0.7)
}

input#contact_first_name {
  background-color:$darkblue;
  border:none;
  color:white
}

input#contact_last_name {
  background-color:$darkblue;
  border:none;
  color:white;
}

input#contact_phone_number {
  border:none;
}

input#contact_company {
  border:none;
}

input#contact_email {
  border:none;
}

input#contact_location {
  border:none;
}

input#contact_job {
  border:none;
}

input#contact_relation_type {
  border:none;
}

#contact_meeting_date {
  border:none;
}

input#contact_meeting_place {
  border:none;
}

.header-first-name input::placeholder {
  color:rgba(255,255,255, 0.9);
  font-size:20px;
}

.header-last-name input::placeholder {
  color:rgba(255,255,255, 0.9);
  font-size:20px;
}

.add.header-first-name {
  font-size:20px;
}

.add.header-last-name {
  font-size:20px;
}

// NEW NOTE

.new-note-champ {
  width:90%;
  margin: 0px auto;
  margin-top: 30px;
  height:100px;
  background-color:#FFFFFF;
  padding-bottom:30px;
  border:none;
  border-left: 2px solid $darkblue;
}

// NEW RAPPEL

.new-rappel-champ {
  width:95%;
  margin: 0px auto;
  margin-top: 5px;
  height:50px;
  background-color:#FFFFFF;
  padding-bottom:30px;
  border:none;
  border-left: 2px solid $darkblue;
}

