.rectangle-gris {
  width:100vw;
  height:20px;
  background-color:#F0F0F0;
}


body {
  font-family: 'Tajawal', sans-serif;
}

h1, h2, h3, h4, h5, p, span {
  font-family: 'Tajawal', sans-serif;
}

// LOGO

.logo, .fas.fa-users {
  border-top: none;
  color: #0582FF;
}

h1 {
  color: #0582FF;
  font-weight: 900;
  font-size: 25px;
}
