.rectangle-gris {
  width:100vw;
  height:20px;
  background-color:#F0F0F0;
}

.position-relative {
  position:relative;
}


body {
  font-family: 'Tajawal', sans-serif;
  min-height:100vh;
  background-color:white;
}

h1, h2, h3, h4, h5, p, span {
  font-family: 'Tajawal', sans-serif;
}

// LOGO

.logo, .fas.fa-users {
  border-top: none;
  color: #0582FF;
}

h1 {
  color: #0582FF;
  font-weight: 900;
  font-size: 25px;
}

.blue-light-text {
  color:#0582FF;
  font-weight:bold;
  font-size:18px;
}

.blue-text {
  color:#024A91;
  font-weight:bold;
  font-size:15px;
}

.name {
  color:#024A91;
  font-size:16px;
}

.name-rappel {
  color:#024A91;
  font-size:14px;
  padding-left:20px;
  margin-bottom:10px;
}
