.rectangle-gris {
  width:100vw;
  height:20px;
  background-color:#F0F0F0;
}

.blue-light-text {
  color:#0582FF;
  font-weight:bold;
  font-size:18px;
}

.blue-text {
  color:#024A91;
  font-weight:bold;
  font-size:15px;
}

.name {
  color:#024A91;
  font-size:16px;
}

.name-rappel {
  color:#024A91;
  font-size:14px;
  padding-left:20px;
  margin-bottom:10px;
}
