.fas {
  color:white;
}

.lg-btn .fas.fa-plus {
  font-size:10px;
}

.lg-btn .fas.fa-user-alt {
  font-size:18px;
}

.lg-btn .fas.fa-bell {
  font-size:20px;
}

.md-btn .fas.fa-user-alt {
  font-size:14px;
}
.md-btn .fas.fa-plus {
  font-size: 8px;
}

.search-bar .fa-search {
  color: #3283F7;
}

.search-bar-home .fa-search {
  color: #3283F7;
}

.timeline .fa-bell {
  color:#3283F7;
}
