// NEW DESIGN

.lg-btn .fa-plus {
  font-size:38px;
}



.fas {
  color:white;
}

// Icons Button


.lg-btn .fas.fa-user-alt {
  font-size:18px;
}

.lg-btn .fas.fa-bell {
  font-size:20px;
}

.lg-btn .fas .fa-phone {
  font-size: 20px;
}

.md-btn .fas.fa-user-alt {
  font-size:14px;
}
.md-btn .fas.fa-plus {
  font-size: 8px;
}

// Icons Search

.search-bar .fa-search {
  color: #0582FF;
}

.search-bar-home .fa-search {
  color: #0582FF;
}

// Icons Timeline

.timeline .fa-bell {
  color:#0582FF;
  font-size:20px;
}

// Icons Contacts Dash

.contact-dash-icon i {
  color: #8BBBF1;
}

.contact-dash-icon .fa-plus {
  font-size: 10px;
}

.contact-dash-icon .fa-bell {
  font-size:28px;
}

.contact-dash-icon .fa-sticky-note {
  font-size:28px;
}

// Icon Tags

.tag .fa-plus {
  transform: rotate(45deg);
  margin-top:3px;
  margin-left:2px;
  margin-right:5px;
}

.md-btn .fa-check {
  font-size:18px;
}

.md-btn .fas.fa-plus {
  font-size:18px;
}

.md-btn .fa-trash-alt {
  font-size:18px;
}

.sm-btn .fas {
  font-size:12px;
}

