.footer-contact {
  width: 100%;
  min-height:30px;
  height: 4vh;
  position:fixed;
  left:0;
  bottom:0px;
  background: #EDEDED;
  border-radius: 30px 30px 0px 0px;
}

.footer-new-notes {
  width: 100%;
  height: 20vh;
  min-height: 20vh;
  position:fixed;
  left:0;
  bottom:0;
  background: $darkblue;
  border-radius: 30px 30px 0px 0px;
}

.text-footer-add-notes {
  color:white;
  font-size:18px;
}

// FOOTER HOME

.footer-home {
  width: 100%;
  height: 45%;
  position:fixed;
  left:0;
  bottom:0px;
  background: $darkblue;
  border-radius: 30px 30px 0px 0px;
  z-index:3;
}

.footer-home-signup {
  width: 100%;
  height: 50%;
  position:fixed;
  left:0;
  bottom:0px;
  background: $darkblue;
  border-radius: 30px 30px 0px 0px;
  z-index:3;
}

.footer-home-text {
  margin-top:30px;
  margin-left:30px;
}

.footer-home-title {
  font-size:26px;
  color:white;
  font-weight:bold;
  line-height:15px;
}

.footer-home-content {
  font-size:16px;
  line-height:19px;
  margin-top:10px;
  color:white;
  margin-left:30px;
  width:75%;
}

// FOOTER SIGN UP

input#user_email {
  width:120%;
  margin-top:10px;
  margin-left:20px;
  border:none;
}

input#user_password {
  width:120%;
  margin-left:20px;
  margin-top:10px;
  border:none;
}

input#user_remember_me {
  margin-top:15px;
}
