// NEW DESIGN

.header-contact {
  height:180px;
  background-color: #2E4157;
  border-left-bottom-radius: 38px;
}

.header-first-name {
  color:white;
  font-weight:300px;
  font-size:18px;
  padding-top:10px;
}

.header-last-name {
  color:white;
  font-weight:700px;
  font-size:18px;
}

p.header-first-name {
  padding-bottom:0px;
  margin-bottom:0px;
}

// AVANT


.header-new-rappel {
  margin:0px 15px;
}

.header-new-rappel .blue-light-text {
  margin-top:8px;
  margin-right:25px;
}

.header-new-rappel .blue-text {
  margin-top:10px;
}


