// NEW DESIGN

.header-photo {
  height:12vh;
  min-height:80px;
}

.header-contact {
  height:15vh;
  min-height:100px;
  background-color: $darkblue;
  border-radius: 0px 0px 38px 38px;
  margin-bottom:-20px;
}

.header-photo-info {
  height:20vh;
  min-height:150px;
}

.header-contact-info {
  height:25vh;
  min-height:185px;
  background-color: $darkblue;
  border-radius: 0px 0px 38px 38px;
  margin-bottom:-20px;
}

.header-first-name {
  color:white;
  font-weight:300px;
  font-size:18px;
  padding-top:10px;
}

.header-last-name {
  color:white;
  font-size:18px;
}

p.header-first-name {
  padding-bottom:0px;
  margin-bottom:0px;
}

// AVANT


.header-new-rappel {
  margin:0px 15px;
}

.header-new-rappel .blue-light-text {
  margin-top:8px;
  margin-right:25px;
}

.header-new-rappel .blue-text {
  margin-top:10px;
}


