// NEW DESIGN

.navbar-dashboard {
  width:100%;
  background-color: $darkblue;
  height:15vh;
  margin-bottom: -5vh;
}

.dashboard-title {
  font-weight:bold;
  font-size:26px;
  color:white;
  padding-top:15px;
}





