// NEW DESIGN

.notes {
  margin: 5px 20px;
  margin-bottom:10px;
  background: #FFFFFF;
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.05);
  border-radius: 15px 0px;
}

.notes-text {
  margin: 0px 25px;
  padding-top:14px;
  width:275px;
}

.notes-text-date {
  font-weight: 500;
  font-size: 10px;
  color: #BEBEBE;
  padding-bottom:2px;
}

.notes-text-content {
  font-weight: 300;
  font-size: 14px;
  padding-bottom:10px;
  color: rgba(0,0,0,0.7)
}

.notes-button-edit {
  padding:5px 0px;
  padding-right:20px;
}

// EMPTY NOTES


.empty {
  height: 80px;
}

.tag-add {
  height: 30px;
  border-top :1px solid rgba(0,0,0,0.4);
  margin: 2px 5px;
  margin-bottom:5px;
}

div.form-group.row.note_tags {
  padding-top:5px;
  margin: 2px 0px;
  margin-bottom:5px;
  border-radius:8px;
  // border-top :1px solid rgba(0,0,0,0.4);
  background-color:#FEFBFB;
  width:384px;
  // box-shadow: 1px 2px 6px rgba(0,0,0,0.2)
}

label.col-form-label {
  font-size:14px;
  color: rgba(0,0,0,0.6);
}

label.form-check-label.collection_check_boxes {
  height: 18px;
  border-radius:5px;
  margin-right:5px;
  font-size: 12px;
  color:white;
  padding: 1px 10px;
  background-color: #80CE96;
}

textarea#note_content {
  width:370px;
  padding-top:10px;
  height:30px;
  background-color:#FEFBFB;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.6);
  padding-bottom:30px;
}


.tag-add-full {
  height: 30px;
  margin: 2px 5px;
  margin-bottom:5px;
}

.notes-add {
  // border:1px solid black;
  margin: 0px 5px;
}

.empty .placeholder-search {
  padding-top: 8px;
}




// NOTES FULL

.tag-list {
  padding-bottom:8px;
  padding-top: 8px;
}
