
// NEW DESIGN

.scrollable {
  // min-height:20vh;
  height: 100%;
  overflow-y: auto;
}

.rappels {
  // margin: 5px 20px;
  // margin-bottom:10px;
  background: #FFFFFF;
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.05);
  border-radius: 15px 0px;
  width: 90%;
  margin:10px auto;
}

.rappels-text {
  width:87%;
}

.rappels-text-date {
  padding:10px 10px;
  padding-right:20px;
  width:20vw;
  height:100%;
  font-weight: bold;
  font-size: 14px;
  text-align:center;
  color: rgba(0,0,0,0.7);
  padding-bottom:2px;
}

.rappels-text-content {
  width:55vw;
  height:45px;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:10px;
  padding-right:5px;
  border-left: 3px solid $orange;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  overflow-wrap: anywhere;
}

.trash-alert {
  width:100%;
}

.upcoming-alerts {

}

// NEW RAPPEL

.name {
  color:$darkblue;
  font-size:18px;
}

input#alert_title {
  background-color:white;
  margin-left:10px;
  border:none;
  width:95%;
  height:6vh;
  color:black;
}

@media (max-height: 500px) {

  input#alert_title {
    margin-left:5px;
  }
}

.new-rappel input::placeholder {
  color:rgba(0,0,0,0.5);
  font-weight:300px;
  font-size:18px;
}

// DASHBOARD

.rappels-dashboard {
  min-height:300px;
  width:100%;
  height: 60vh;
  background-color: #F9F9F9;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 10px;
  overflow-y: scroll;
}

.rappels-text-date-dash {
  padding-left:10px;
  padding-top:5px;
  width: 80px;
  height:100%;
  font-weight: bold;
  font-size: 14px;
  text-align:center;
  color: rgba(0,0,0,0.7);
  padding-bottom:2px;
}

.rappels-text-dash {
  width:100%;
  height:100%;
}

.rappel-title {
  color: #6290C3;
  font-weight:bold;
  font-size:14px;
  // margin-left:20px;
  margin-top:20px;
  width: 100%;
}

.rappels-text-content-dashboard {
  width:100%;
  margin-bottom:10px;
  margin-top:10px;
  padding-left:15px;
  border-left: 3px solid $orange;
}

.rappels.dash a {
  width:80%;
}

.dash-rappel-name {
  font-size:14px;
  font-weight:bold;
  color:rgba(0,0,0,0.7);
  padding-top:5px;
}

.dash-rappel-title {
  font-weight: 300;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  overflow-wrap: anywhere;
}

.rappels.dash {
  border-radius: 0px 15px;
  width: 100%;
  padding: 0 auto;
  margin-right: 5px;
}

.rappels-dash {
  width: 90%;
}

.date-rappels-dash {
  width: 33%;
}

.dash-rappel-name:hover, .dash-rappel-title:hover, .rappels-text-date-dash:hover {
  text-decoration: none;
}

