// Search dashboard
.dash-searchbar {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 340px;
  // border:1px solid #D7D7D9;
  height:40px;
  border-radius:10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  background-color: #FEFBFB;
}


.dashboard-tag {
  color: $inkblue;
  font-size:16px;
  font-weight:700;
  height:40px;
  padding-top:10px;
  padding-right:10px;
  // border-right: 2px solid #D73D2B;
}

.margin-search {
  margin-top:12px;
  margin-right:10px;
}

.placeholder-search {
  color: #575757;
  font-size:16px;
  font-weight: 500;
  border: none;
  padding-top: 10px;
}

li {
  list-style: none;
}

// ul.list-group {
//   width: 320px;
// }

// .list-group-item {
//   display:flex;
//   align-items:
//   justify-content-between
// }

.contact-name {
  font-weight: 400;
  font-size: 18px;
  color: gray;
  text-align: left;

}

// Search Signup

.signup-champ {
  width:280px;
  height:40px;
  background-color: #FEFBFB;
  border-radius:15px;
  border: 1px solid #0582FF;
}

.signup-champ .fas {
  color:#0582FF;
}

.signup-champ .placeholder-search {
  color: #6290C3;
  margin-left: 80px;
  font-size:10px;
}

.signup-start {
  width:280px;
  height:40px;
  background-color: #0582FF;
  border-radius:15px;
}

.signup-start .placeholder-search {
  color: white;
  margin-left: 90px;
  font-size:18px;
}



.list-group-item {
  font-size: 16px;
  width: 340px;
  margin-bottom: 3px;
  height: 60px;
}

// .fa-phone.dash {
//   color: #0582FF;
// }


.welcome h3 {
  font-family: tajawal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-bottom: 0;
}

.welcome {
  background-color: $pink;
  text-align: left;
  font-weight: 700;
  border-radius: 38px 38px 0  0;
}

.welcome p {
  color: #021A2D;
}

.timeline-dash {
  width: 380px;
}

.btn-dash-add-contact {
  background-color: $lightgray;
}

.dash-gray {
  background-color: $pink;
}
