// Tag dash sans croix

.tag {
  height: 18px;
  border-radius:5px;
  margin-right:5px;
  font-size: 12px;
  color:white;
}

.tag p {
  margin-left:10px;
}
.margin-tag {
  margin-right: 10px;
}

.red-tag {
  background-color: #EC9292;
}

.orange-tag {
  background-color: #EF9A45;
}

.green-tag {
  background-color: #80CE96;
}

.yellow-tag {
  background-color: #D6C10C;
}
