// NEW DESIGN

.tags {
  margin: 0px 25px;
  margin-top: 5px;
  padding-bottom:10px;
  width:275px;
}

.tag-bis {
  height: 20px;
  border-radius:5px;
  margin-right:5px;
  padding-top:3px;
  font-size: 12px;
  background-color: rgba(236, 146, 146, 0.3);
}

.tag-text {
  margin:0px 8px;
  color: rgba(236, 146, 146, 1);
}


// Tag dash sans croix


.tag-bis p {
  margin-left:10px;
}

.margin-tag {
  margin-right: 10px;
}

.red-tag {
  background-color: #EC9292;
}

.orange-tag {
  background-color: #EF9A45;
}

.green-tag {
  background-color: #80CE96;
}

.yellow-tag {
  background-color: #D6C10C;
}

.blue-tag {
  background-color: blue;
}
