// NEW DESIGN

.tag-header {
  font-size:14px;
  color: rgba(0,0,0,0.7);
  padding-bottom:5px;
}

.tags {
  width:380px;
  margin: 0px 30px;
  padding-top:10px;
  padding-left:20px;
}

.tags-fiche-contact {
  margin: 0px 25px;
  margin-top: 5px;
  padding-bottom:10px;
  width:275px;
}

.tag-bis {
  height: 20px;
  border-radius:5px;
  margin-right:5px;
  padding-top:3px;
  font-size: 12px;
  background-color: rgba(236, 146, 146, 0.3);
}

.tag-text {
  padding-right:3px;
  color: rgba(236, 146, 146, 1);
  font-size: 16px;
  font-weight: bold;
}

// search tag results

.tags-fiche-contact-search {
  margin: 0px 25px;
  margin-top: 5px;
  padding-bottom:10px;
  width:275px;
}

// TAGS dans add notes

.div-tags-display {
  width:100%;
  padding-bottom:20px;
  background-color: #F9FBFB;
  border-radius: 30px 30px 0px 0px;
  margin-top:20px;
}

.div-tags-add {
  width:100%;
  height:250px;
  background-color: #F9FBFB;
}

div.form-check {
  color:white;
  border-radius:5px;
  height:30px;
  padding-left:5px;
  margin-bottom:5px;
  margin-right:5px;
}

.form-check label {
  padding-top: 12px;
  margin-right:5px;
  margin-left:5px;
}

.cross-tag {
  color:white;
  padding-top:20px;
  padding-right:5px;
}

// Add Tags dans add notes

.tag-header-bis {
  font-size:14px;
  color: rgba(0,0,0,0.7);
  padding-bottom:5px;
  margin-left:50px;
}

#container-tag {
  margin-left:50px;
}

input#tag_label {
  margin-right:10px;
  border:1px solid rgba(0,0,0,0.5);
}



// Colors & co


.tag-bis p {
  margin-left:10px;
}

.margin-tag {
  margin-right: 10px;
}

.red-tag {
  background-color: rgba(236,146,146,0.3); //#EC9292;
  color: rgba(236,146,146,1);
  font-size: 14px;
  font-weight: bold;
}

.orange-tag {
  background-color: rgba(239, 154, 69, 0.3); // #EF9A45;
  color: rgba(239, 154, 69, 1);
  font-size: 14px;
  font-weight: bold;
}

.green-tag {
  background-color: rgba(128,206,150,0.3); //#80CE96;
  color: rgba(128,206,150,1);
  font-size: 14px;
  font-weight: bold;
}

.yellow-tag {
  background-color: rgba(214,193,12,0.3); //#D6C10C;
  color: rgba(214,193,12,1);
  font-size: 14px;
  font-weight: bold;
}

.blue-tag {
  background-color: rgba(75,201,255,0.3);
  color: rgba(75,201,255,1);
  font-size: 14px;
  font-weight: bold;
}

.check-tag {
  background-color: blue;
  opacity: 0.5;
  color: blue;
  font-size: 14px;
  font-weight: bold;
}

.purple-tag {
  background-color: rgba(223,113,233,0.3);
  color: rgba(223,113,233,1);
  font-size: 14px;
  font-weight: bold;
}

.tag-form label {
  background-color: rgba(0,0,0,0);
}

.div-tag {
  width: 98%;
}
