.timeline-frame {
  background-color:white;
  border-radius:10px;
  margin:0px 20px;
}

.timeline {
  height:70px;
  background-color:rgba(0,0,0,0);
  border-radius:10px;
}
.bell-elems {
  // border-right: 1px solid black;
  height:70px;
  width:80px;
  // border:1px solid black;
}

.infos {
  height:70px;
  position:relative;
  border-left: 1px solid #0582FF;
  width:300px;
}

.bullet {
  width:10px;
  height:10px;
  border-radius:50%;
  background-color: #024A91;
}

.bullet-one {
  position:absolute;
  left:-5px;
  top:30px;
}

.timeline-date {
  font-size:16px;
  margin-top:20px;
}

.title-rappel-dash {
  font-size: 16px;
  margin-top:22px;
}

.name-rappel-dash {
  font-size:14px;
  margin-bottom:2px;
}



